<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BezierCurveApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BezierCurve.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BezierCurveApp.Properties.Settings>
            <setting name="IsPathVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BezierCurveColor" serializeAs="String">
                <value>#FF8A2BE2</value>
            </setting>
            <setting name="PathColor" serializeAs="String">
                <value>#FF696969</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FFADD8E6</value>
            </setting>
            <setting name="CurveThickness" serializeAs="String">
                <value>12</value>
            </setting>
        </BezierCurveApp.Properties.Settings>
        <BezierCurve.Properties.Settings>
            <setting name="IsPathVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </BezierCurve.Properties.Settings>
    </userSettings>
</configuration>